@import url("https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: uppercase;
}
html {
  overflow-x: hidden;
  overflow-y: hidden;
}
body {
  height: 100vh;
  width: 100vw;
  /* background-image: url("../images/background.PNG"); */
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Irish Grover", system-ui;
}
h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
  font-family: "Irish Grover", system-ui;
}
button {
  border: unset;
  background-color: transparent;
}
/* SECION ESTATICA */
.Static-page {
} /* Estilo para .mainButtons */
.mainButtons {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  margin: 10px;
  height: 99vh;
}

.Ayuda,
.Musica,
.Cuento,
.Idioma {
  position: absolute;
  margin: 5px;
}

.Ayuda {
  top: 0;
  left: 0;
}

.Musica {
  top: 0;
  right: 0;
}

.Cuento {
  bottom: 0;
  left: 0;
}

.Idioma {
  bottom: 0;
  right: 0;
}

.Heading {
  position: absolute;
  top: 10%;
  display: flex;
  justify-content: center;
  width: 100%;
}

.Juego {
  position: absolute;
  bottom: 45%;
  display: flex;
  justify-content: center;
  height: 10%;
  width: 100%;
}
.Juego input {
  scale: 0.8;
}

.modal {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  height: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
}

.playButton img,
.stopButton img {
  scale: 0.2;
}

/* IDIOMAS */
#modalIdioma .languageBtnGrid {
  height: 90%;
  width: 80%;
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
  margin: auto;
}
#modalIdioma .modal-content h2 {
  text-align: center;
}
.btnLanguage {
  appearance: button;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter 0.2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
}

.btnLanguage:after {
  background-position-x: center;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}
.languageCa::after {
  background-image: url(/images/bandera-cataluña.png);
  background-size: 87%;
  background-position-y: center;
}
.languageEs::after {
  background-image: url(/images/bandera-españa.png);
  background-size: 77%;
}
.languageEn::after {
  background-image: url(/images/bandera-reinounido.png);
  background-size: 117%;
  background-position-y: center;
  background-position-x: center;
}
.languageAr::after {
  background-image: url(/images/bandera-arabiasaudita.png);
  background-size: 104%;
  background-position-y: center;
}

.textCa {
  top: 42%;
  left: 30%;
}
.textEs {
  top: 42%;
  right: 30%;
}
.textEn {
  top: 77%;
  left: 30%;
}
.textAr {
  top: 77%;
  right: 32%;
}
.textCa,
.textEs,
.textEn,
.textAr {
  position: absolute;
  color: white;
  font-size: 30px;
  opacity: 0;
  transition: opacity 0.2s;
}
.languageCa:hover ~ .textCa,
.languageEs:hover ~ .textEs,
.languageEn:hover ~ .textEn,
.languageAr:hover ~ .textAr {
  opacity: 1;
}

.btnLanguage:active,
.btnLanguage:focus {
  user-select: auto;
}

.btnLanguage:hover {
  filter: brightness(0.5);
}

.btnLanguage:active {
  border-width: 4px 0 0;
  background: none;
}

/* ESCOLTAR LLIBRE */
.topBar img {
  display: none;
}
.topBar {
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.topBar button {
  background-color: #821d1d;
  color: white;
  letter-spacing: 3px;
  padding: 5px 10px;
  border-radius: 10px;
}
.scrollableText {
  max-height: 500px;
  overflow-y: auto;
  padding: 10px;
}
.bottomText {
  font-family: Georgia, "Times New Roman", Times, serif !important;
  text-transform: uppercase;
  margin-top: 30px;
  font-size: 30px;
}
/* ESCOLTAR MUSICA */

/* CARRUSSEL */
.carousel-container {
  position: relative;
  width: 30%;
  max-height: 500px;
  margin: auto;
  overflow: hidden;
  margin-top: 60px;
}

.carousel-slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
  max-height: 100%; /* Ajusta la altura máxima del carrusel según sea necesario */
}

.carousel-slider img {
  width: auto;
  height: 100%;
  max-width: 100%; /* Ajusta el ancho máximo de las imágenes */
  object-fit: contain; /* Ajusta el comportamiento de escalado */
}

.carousel-container button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  padding: 10px;
  cursor: pointer;
  border: none;
  color: #fff;
}
#prevBtn,
#nextBtn {
  font-size: 0; /* Oculta el texto de los botones */
}

#prevBtn {
  left: 0;
}

#nextBtn {
  right: 0;
}

.carousel-container button:before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  display: inline-block;
  vertical-align: middle;
}

#prevBtn:before {
  border-width: 10px 15px 10px 0;
  border-color: transparent #821d1d transparent transparent;
  margin-right: 5px; /* Ajusta el margen entre el botón y el carrusel */
}

#nextBtn:before {
  border-width: 10px 0 10px 15px;
  border-color: transparent transparent transparent #821d1d;
  margin-left: 5px; /* Ajusta el margen entre el botón y el carrusel */
}

.imgAfter {
  content: "";
  clip-path: polygon(0 25%, 0 0, 100% 75%, 100% 100%);
  background-color: #821d1d;
  position: absolute;
  height: 105px;
  width: 90px;
  left: 61%;
  top: 15%;
}
