* {
  margin: 0;
  padding: 0;
}
.Heading {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  width: 100%;
}
.Header {
  font-size: 70px;
}
.btn-back {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: -5px;
  margin-left: -5px;
}

.btn-back img {
  height: 150px;
}

.gameBox {
  width: 80vw;
  height: 80vh;
  margin: 0 auto;
  margin-top: 10vh;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.maze {
  display: flex;
  flex-wrap: wrap;
  width: calc(50px * 11);
  height: calc(50px * 8);
  border: 1px solid black;
}
.celda {
  width: 50px;
  height: 50px;
  background-color: #ccc;
  /* background-image: url("/images/level4/terra-laberint.png");
  background-size: cover; */
}

.jugador {
  background-image: url(/images/level4/personatge-laberint.png);
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
}

.meta {
  background-image: url(/images/level4/objectiu-laberint.png);
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
}
.pared {
  background-color: red;
  border-color: transparent;
  box-shadow: inset 0px 0px 25px 5px rgb(255, 255, 255);
  /* background-image: url("/images/level4/pared-laberint.png");
  background-size: cover; */
}

#win-message {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(76, 175, 80, 2.8); /* Fondo verde con opacidad */
  color: white;
  font-size: 250%;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 999; /* Ajusta según sea necesario para que esté por encima del contenido */
}

#win-message button {
  padding: 10px;
  background-color: #fff;
  color: #4caf50; /* color de texto verde */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 60%;
  width: 12%;
  height: 10vh;
  margin-top: 222px;
}
