* {
  margin: 0;
  padding: 0;
}
.btn-back {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: -5px;
  margin-left: -5px;
}

.btn-back img {
  height: 150px;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

#canvas-container {
  border: 1px solid #000;
  overflow: hidden;
  margin-right: 10px;
}

#canvas {
  cursor: crosshair;
}

#color-palette {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.color-button {
  position: relative;
  width: 30px;
  height: 30px;
  margin: 0 5px;
  cursor: pointer;
}

.color-button span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.headerImage {
  margin-left: -40%;
}

.Heading {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  width: 100%;
}

.Header{
font-size: 70px;
}